.filter-bar {
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__count {
    &.dark {
      color: white;
    }

    &.white {
      color: black;
    }
  }

  &__filterBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 5px;

    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 0.1px black;

    &.selected {
      background-color: black;
    }
  }
}
