@use "../../../style/abstracts/variables" as variables;
@use "../../../style/abstracts/mixins" as mixins;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 24px;

  &.dark {
    background-color: black;
    border-bottom: solid 0.5px white;
  }

  &.light {
    background-color: white;
    border-bottom: solid 0.5px black;
  }

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 24px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 24px;
  }
}
