@use "../../../style/abstracts/variables" as variables;
@use "../../../style/abstracts/mixins" as mixins;

.navbar {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 16px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
